.courses {


    .container {



        .course-list {
            display: grid;
            grid-template-columns: auto auto auto;
            gap: 32px;

            .course {
                border: 1px solid;
                border-color: #EFF2FC;
                border-radius: 10px;

                .best-seller {
                    position: absolute;
                    z-index: 1;
                    background-color: #22C55E;
                    color: #FFFFFF;
                    padding: 3px;
                    margin-top: 10px;
                    margin-left: 10px;
                    border-radius: 10px;
                }

                .course-image {
                    position: relative;
                    z-index: 0;
                    border-radius: 10px;
                }

                .course-prices {
                    display: flex;
                    gap: 16px;

                    .discount-price {
                        color: #EF4444;
                    }

                    .original-price {
                        color: #6366F1;
                    }
                }
            }
        }
    }
}
