#manage-work {
    padding-top: 50px;
    padding-bottom: 40px;
    .container {
        display: flex;
        align-items: center;

        .work-info {
            padding-left: 100px;
            
            h2 {
                margin-bottom: 26px;
            }

            .work-text {
                display: flex;

                i {
                    margin-top: 5px;
                    margin-right: 12px;
                    color: #6366F1;
                }
            }

            .work-button {
                margin-top: 30px;
                display: flex;
            }
        }
    }


}