#signin {
    height: 100%;

    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;

        form {

            .content {

                .input-group {

                    label {
                    }

                    input {
                    }
                }
            }

            #external-signin {
                display: flex;
                gap: 1rem;

                a {
                    flex: 1;
                }
            }
        }
    }
}
