<footer>
    <div class="container">
        <div class="social-media">
            <a class="btn-social" href="#"><i class="bi bi-facebook"></i></a>
            <a class="btn-social" href="#"><i class="bi bi-twitter-x"></i></a>
            <a class="btn-social" href="#"><i class="bi bi-instagram"></i></a>
            <a class="btn-social" href="#"><i class="bi bi-youtube"></i></a>
        </div>
        <p>&copy; 2024 Silicon. All rights reserved. Pulvinar urna condimentum amet tempor, ornare integer. Lorem odio justo malesuada suspendisse viverra aliquet quisque turpis non. Feugiat in odio non nunc ornare consectetur.</p>
    </div>
</footer>