<footer>
    <div class="container">
        <div class="social-media">
            <a class="btn-social" href="#"><img src="~/images/icon-facebook.svg"></a>
            <a class="btn-social" href="#"><img src="~/images/icon-twitter.svg"></a>
            <a class="btn-social" href="#"><img src="~/images/icon-instagram.svg"></a>
            <a class="btn-social" href="#"><img src="~/images/icon-youtube.svg"></a>
        </div>
        <p>&copy; 2024 Silicon. All rights reserved. Pulvinar urna condimentum amet tempor, ornare integer. Lorem odio justo malesuada suspendisse viverra aliquet quisque turpis non. Feugiat in odio non nunc ornare consectetur.</p>
    </div>
</footer>