

@inject SignInManager<UserEntity> _signInManager

<header>
    <div class="container">
        <a id="logo" asp-controller="Home" asp-action="Index"><img src="~/images/silicon-logo-light_mode.svg" alt=""></a>

        <div id="menu">
            <nav>
                <a class="menu-link" asp-controller="Home" asp-action="Index">Overview</a>
                <a class="menu-link" asp-controller="Home" asp-action="Index">Features</a>
                @if (User.Identity!.IsAuthenticated)
                {
                    <a class="menu-link" asp-controller="Courses" asp-action="CoursePage">Courses</a>
                }
                <a class="menu-link" href="#">Contact</a>
                
            </nav>
        </div>

        <div class="btn-switch">
            <label class="switch" for="switch-mode">
                <input type="checkbox" id="switch-mode" />
                <div class="slider round"></div>
            </label>
            <label>Dark</label>
        </div>

        <div class="account-buttons">
            @if (_signInManager.IsSignedIn(User))
            {
                <a class="btn-theme" asp-controller="Auth" asp-action="SignOut"><img src="~/images/icon-signin.svg"><span>Sign out</span></a>
                <a class="btn-gray" asp-controller="Account" asp-action="Details"><img src="~/images/icon-user.svg"><span>Account</span></a>
            }
            else
            {
                <a class="btn-theme" asp-controller="Auth" asp-action="SignIn"><img src="~/images/icon-signin.svg"><span>Sign in</span></a>
                <a class="btn-gray" asp-controller="Auth" asp-action="SignUp"><img src="~/images/icon-user.svg"><span>Sign up</span></a>
            }

            
        </div>

    </div>
</header>